body { 
  margin: 0;
  color: dimgray;
  background-color: #eeeeee; 
}

.calc-headers { 
  text-align: center;
  background-color: grey;
  color: white
}

.calc-body { 
  display: flex; 
  justify-content: flex-end;
  flex-direction: column; 
  margin-top: 20px; 
  padding-right: 20px; 
  padding-left: 20px;  
  box-shadow: 1px 3px 5px #888888; 
  background-color: #FFF; 
  height: 100%;
  width: 80%;
}

.calc-header-h2 { 
  margin: 0; 
  padding: 10px; 
  font-size: 1.25em;
}

.calc-p { 
  margin: 0; 
  padding: 10px; 
  font-size: .75em;
}
