body { 
  margin: 0;
  color: dimgray; 
}

.calc-headers { 
  text-align: center;
  background-color: grey;
  color: white
}

.calc-body { 
  padding-right: 30px; 
  padding-left: 30px;  
}

.calc-h1 { 
  margin: 0; 
  padding: 20px; 
  font-size: 3.5vh;
}

.calc-h2 { 
  font-size: 3vh;
  margin-top: 30px;
}

.mui-slider-div { 
  width: 80%; 
}

.calc-slider { 
  width: 100%
}

.calc-input { 
  width: 100%
}