body { 
  margin: 0;
  color: dimgray; 
}
.calc-page { 
  /* padding-right: 30px; 
  padding-left: 30px;  */
}

.calc-headers { 
  text-align: center;
  background-color: grey;
  color: white
}

.calc-h1 { 
  margin: 0; 
  padding: 20px; 
  font-size: 3.5vh;
}


.calc-h2 { 
  font-size: 3vh;
  margin-top: 30px;
}
