.nav-header { 
    background-color: orange; 
    display: flex;
    width: 100%; 
    flex-direction: row;
    justify-content: space-between; 
}

.nav-h1 { 
    font-size: 1.5em;
    margin-left: 4px; 
}

.nav-logo { 
    height: 90px
}

.links-span { 
    align-items: 'right'; 
    display: 'inline-block';
    margin-left: 30vw;
}

.nav-link {
    display: inline;
    margin-left: 5px;
    color: black; 
    text-decoration: none;
}